/* SUMMARY
1. GLOBAL
2. LAYOUT
3. SECTION
4. CARD
*/

/*** 1. GLOBAL ***/
html { line-height: 1.15; -webkit-text-size-adjust: 100%; }
body { margin: 0; }
*, *:before, *:after { box-sizing: border-box; }

/* Fixes for Task 0 */
.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* Helpers */
main img {
  width: 100%;
  height: auto;
}

/* Grid & Layout Breakpoints */
@media (max-width: 767px) {
  :root {
    --section-padding: 5rem 1.5rem;
    --section-body-padding: 2rem 0 0;
  }

  ul.row,
  .row {
    flex-direction: column;
    margin: 0;
  }

  [class*='col-'] {
    margin: 0 0 3rem 0;
  }

  .col-1-3,
  .col-1-2 {
    width: 100%;
  }

  .navbar-menu {
    display: none;
  }

  .section-latest-news .row {
    flex-direction: column;
  }
}
